<!DOCTYPE HTML>
<html>
<head>
<title>大经伟房产</title>
<!---css--->
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="css/style.css" rel='stylesheet' type='text/css' />
<!---css--->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Real Space Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!---js--->
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap-3.3.4.js"></script>
<script src="js/angular/angular-1.5.8.min.js"></script>
<script src="js/angular/myApp.js"></script>
<script src="js/angular/service/forrentService.js"></script>
<script src="js/angular/controller/forrentController.js"></script>
<!---js--->
<!---fonts-->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
<!---fonts-->
<!-- FlexSlider -->
	 <script src="js/jquery.flexslider.js"></script>
		<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
			<script>
			// Can also be used with $(document).ready()
				$(window).load(function() {
				$('.flexslider').flexslider({
				animation: "slide",
				controlNav: "thumbnails"
				});
				});
			</script>
			<!-- //FlexSlider-->
</head>
<body ng-app="myApp" ng-controller="forrentController" ng-init="searchHourse()">

		<!---header--->
			<div class="header-section">
				<div class="container">
					<div class="head-top">
						<div class="social-icon">
							<a href="#"><i class="icon"></i></a>
							<a href="#"><i class="icon1"></i></a>
							<a href="#"><i class="icon2"></i></a>
							<a href="#"><i class="icon3"></i></a>
							<a href="#"><i class="icon4"></i></a>
						</div>
						<div class="email">
						<ul>
							<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>Email: <a href="mailto:info@example.com">info@example.com</a> </li>
							<li><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i><a href="#" data-toggle="modal" data-target="#myModal">登陆</a></li>
							<li><i class="glyphicon glyphicon-lock" aria-hidden="true"></i><a href="#" data-toggle="modal" data-target="#myModal1">注册</a></li>
						</ul>
						</div>
						<div class="clearfix"></div>
					</div>
					<nav class="navbar navbar-default">
					<!---Brand and toggle get grouped for better mobile display--->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<div class="navbar-brand">
								<h1><a href="index.html"><span>大经伟 </span>房产</a></h1>
							</div>
						</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li><a href="index.html">Home <span class="sr-only">(current)</span></a></li>
								<li class="active"><a href="forrent.html">Pages</a></li>
							</ul>
							<div class="phone">
							<span><i class="glyphicon glyphicon-phone" aria-hidden="true"></i>&nbsp;&nbsp;135-2330-1735</span>
							</div>
							<div class="clearfix"></div>
						</div>
					</nav>
				</div>
			</div>
		<!---header--->
		<!---banner--->
		<div class="banner-section">
			<div class="container">
				<h2>大经伟房地产，给您一个舒适的家</h2>
			</div>
		</div>
		<!---banner--->
		<div class="content">
			<div class="properties-section">
				<div class="container">
				<div class="properties-grids">
					<div class="col-md-9 forsales-left">
						<div class="forsale">
							<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
								<div id="myTabContent" class="tab-content">
									<div role="tabpanel" class="tab-pane fade in active" id="profile" aria-labelledby="profile-tab">
										<div class="forsale-grids1">
											<!--每页12个元素-->
											<!--<a ng-repeat="hourse in hourseList" href="./galleryvariation.html?hourseId={{hourse.hourseid}}">
												<div class="col-md-4 forsale-grid1">
													<img src="{{hourse.picture[0]}}" class="img-responsive" alt="/">
													<div class="sale-info">
														<span >大 经 伟</span>
													</div>
													<h5>{{hourse.area}}  {{hourse.village}}  {{hourse.unit}}</h5>
													<p>{{hourse.description}}</p>
													<h6>￥：{{hourse.price}} 元</h6>
													<br />
													<br />
												</div>
											</a>-->
											<!--<div class="col-md-4 forsale-grid1">
												<img src="images/s7.jpg" class="img-responsive" alt="/">
												<div class="sale-info">
													<span>大 经 伟</span>
												</div>
												<h5>60 Merrick Way, Miami</h5>
												<p>Lorem ipsum dolor sit amet, consectetuer  elit,… <a href="#">Know More</a></p>
												<h6>$ 2,500 </h6>
												<br />
												<br />
											</div>
											<div class="col-md-4 forsale-grid1">
												<img src="images/s7.jpg" class="img-responsive" alt="/">
												<div class="sale-info">
													<span>大 经 伟</span>
												</div>
												<h5>60 Merrick Way, Miami</h5>
												<p>Lorem ipsum dolor sit amet, consectetuer  elit,… <a href="#">Know More</a></p>
												<h6>$ 2,500 </h6>
												<br />
												<br />
											</div>
											<div class="col-md-4 forsale-grid1">
												<img src="images/s7.jpg" class="img-responsive" alt="/">
												<div class="sale-info">
													<span>大 经 伟</span>
												</div>
												<h5>60 Merrick Way, Miami</h5>
												<p>Lorem ipsum dolor sit amet, consectetuer  elit,… <a href="#">Know More</a></p>
												<h6>$ 2,500 </h6>
												<br />
												<br />
											</div>
											<div class="col-md-4 forsale-grid1">
												<img src="images/s7.jpg" class="img-responsive" alt="/">
												<div class="sale-info">
													<span>大 经 伟</span>
												</div>
												<h5>60 Merrick Way, Miami</h5>
												<p>Lorem ipsum dolor sit amet, consectetuer  elit,… <a href="#">Know More</a></p>
												<h6>$ 2,500 </h6>
												<br />
												<br />
											</div>
											<div class="col-md-4 forsale-grid1">
												<img src="images/s7.jpg" class="img-responsive" alt="/">
												<div class="sale-info">
													<span>大 经 伟</span>
												</div>
												<h5>60 Merrick Way, Miami</h5>
												<p>Lorem ipsum dolor sit amet, consectetuer  elit,… <a href="#">Know More</a></p>
												<h6>$ 2,500 </h6>
												<br />
												<br />
											</div>
											<div class="col-md-4 forsale-grid1">
												<img src="images/s7.jpg" class="img-responsive" alt="/">
												<div class="sale-info">
													<span>大 经 伟</span>
												</div>
												<h5>60 Merrick Way, Miami</h5>
												<p>Lorem ipsum dolor sit amet, consectetuer  elit,… <a href="#">Know More</a></p>
												<h6>$ 2,500 </h6>
												<br />
												<br />
											</div>
											<div class="col-md-4 forsale-grid1">
												<img src="images/s7.jpg" class="img-responsive" alt="/">
												<div class="sale-info">
													<span>大 经 伟</span>
												</div>
												<h5>60 Merrick Way, Miami</h5>
												<p>Lorem ipsum dolor sit amet, consectetuer  elit,… <a href="#">Know More</a></p>
												<h6>$ 2,500 </h6>
												<br />
												<br />
											</div>
											<div class="col-md-4 forsale-grid1">
												<img src="images/s7.jpg" class="img-responsive" alt="/">
												<div class="sale-info">
													<span>大 经 伟</span>
												</div>
												<h5>60 Merrick Way, Miami</h5>
												<p>Lorem ipsum dolor sit amet, consectetuer  elit,… <a href="#">Know More</a></p>
												<h6>$ 2,500 </h6>
												<br />
												<br />
											</div>
											<div class="col-md-4 forsale-grid1">
												<img src="images/s7.jpg" class="img-responsive" alt="/">
												<div class="sale-info">
													<span>大 经 伟</span>
												</div>
												<h5>60 Merrick Way, Miami</h5>
												<p>Lorem ipsum dolor sit amet, consectetuer  elit,… <a href="#">Know More</a></p>
												<h6>$ 2,500 </h6>
												<br />
												<br />
											</div>
											<div class="col-md-4 forsale-grid1">
												<img src="images/s7.jpg" class="img-responsive" alt="/">
												<div class="sale-info">
													<span>大 经 伟</span>
												</div>
												<h5>60 Merrick Way, Miami</h5>
												<p>Lorem ipsum dolor sit amet, consectetuer  elit,… <a href="#">Know More</a></p>
												<h6>$ 2,500 </h6>
												<br />
												<br />
											</div>
											<div class="col-md-4 forsale-grid1">
												<img src="images/s7.jpg" class="img-responsive" alt="/">
												<div class="sale-info">
													<span>大 经 伟</span>
												</div>
												<h5>60 Merrick Way, Miami</h5>
												<p>Lorem ipsum dolor sit amet, consectetuer  elit,… <a href="#">Know More</a></p>
												<h6>$ 2,500 </h6>
												<br />
												<br />
											</div>-->
										</div>
									</div>
									<!-- 分页开始 -->
									<div class="col-md-12" style="text-align: center" id="myPage">
										<br/>
										<ul class="pagination">
											<li>
												<button id="prevPage" style="float: left" ng-click="jumpPage(queryVo.pageNum-1)">上一页</button>
											</li>
											<li ng-repeat="index in pageList track by $index">
												<a href="#" style="background-color: {{index == queryVo.pageNum ? '#00c0ef':''}}"  ng-click="jumpPage(index)">{{index}}</a>
											</li>
											<li >
												<button id="nextPage" ng-click="jumpPage(queryVo.pageNum+1)">下一页</button>
											</li>
											<li>
												<b style="padding-left: 20px;font-size: 18px">跳转到 </b>
												<input type="text"  value="1"  id="toPage" /> <b style="font-size: 18px"> 页 </b>
												<button  type="button" ng-click='toPage()'>
													<b>GO</b>
												</button>
											</li>
										</ul>
									</div>
									<!-- 分页结束 -->
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 properties-right">
						<div class="properties-top">
							<h4>查找房源</h4>
							<div class="yourplace">
								<h5>所有地区</h5>
								<select class="sel2" ng-model="queryVo.onePlace">
									<option value="all">All</option>
									<option value="渭南市">渭南市</option>
								</select>
							</div>
							<div class="yourplace">
								<h5>所有子地区</h5>
								<select class="sel2" ng-model="queryVo.twoPlace">
									<option value="all">All</option>
									<option value="渭南市">渭南市</option>
									<option value="固市镇">固市镇</option>
								</select>
							</div>
							<div class="yourplace">
								<h5>面积</h5>
								<select class="sel2" ng-model="queryVo.area">
									<option value="all">All</option>
									<option value=">130"> >130 </option>
									<option value="110-130">110 ~ 130</option>
									<option value="90-110">90 ~ 110</option>
									<option value="<90"> <90 </option>
								</select>
							</div>
							<div class="yourplace">
								<h5>朝向</h5>
								<select class="sel2" ng-model="queryVo.direction">
									<option value="all">All</option>
									<option value="west">东</option>
									<option value="east">西</option>
									<option value="south">南</option>
									<option value="north">北</option>
								</select>
							</div>
							<div class="yourplace-grids">
								<div class="col-md-6 yourplace-grid">
									<h5>户型</h5>
									<select class="sel3" ng-model="queryVo.unit">
										<option value="all">All</option>
										<option value=">3">三室以上</option>
										<option value="3">三室</option>
										<option value="2">两室</option>
										<option value="1">一室</option>
									</select>
								</div>
								<div class="col-md-6 yourplace-grid">
									<h5>楼层</h5>
									<select class="sel3" ng-model="queryVo.floor">
										<option value="all">All</option>
										<option value=">12">12层以上</option>
										<option value="6-12">6~12层</option>
										<option value="<6">6层以下</option>
									</select>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="yourplace-grids1">
								<div class="col-md-6 yourplace-grid">
									<h5>最低价</h5>
									<select class="sel3" ng-model="queryVo.minPrice">
										<option value="any">any</option>
										<option value="100000">$10万</option>
										<option value="200000">$20万</option>
										<option value="300000">$30万</option>
										<option value="400000">$40万</option>
										<option value="500000">$50万</option>
									</select>
								</div>
								<div class="col-md-6 yourplace-grid">
									<h5>最高价</h5>
									<select class="sel3" ng-model="queryVo.maxPrice">
										<option value="any">any</option>
										<option value="400000">$40万</option>
										<option value="600000">$60万</option>
										<option value="800000">$80万</option>
										<option value="1000000">$100万</option>
										<option value="1500000">$150万</option>
									</select>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="search1">
							<form ng-click="search()">
								<input type="submit" value="Search">
							</form>
							</div>
						</div>
						<div class="feature">
							<h4>精选房源</h4>
							<div class="feature-top">
							<img src="images/s6.jpg" class="img-responsive" alt="/">
									<h5>60 Merrick Way, Miami</h5>
									<p>Lorem ipsum dolor sit amet, consectetuer  elit,… <a href="#">Know More</a></p>
							</div>
							<div class="feature-top top2">
							<img src="images/s7.jpg" class="img-responsive" alt="/">
									<h5>Villa in Hialeah, Dade</h5>
									<p>Lorem ipsum dolor sit amet, consectetuer  elit,… <a href="#">Know More</a></p>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				</div>
			</div>
		</div>
		<!-- bottom -->
		<script type="application/javascript" src="./js/Bottom.js"></script>

		<!-- 分页开始 -->
		<style>
			ul.pagination {
				display: inline-block;
				padding: 0;
				margin: 0;
			}

			ul.pagination li {display: inline;}

			ul.pagination li a {
				color: black;
				float: left;
				padding: 8px 16px;
				text-decoration: none;
				border: 1px solid blue;
				border-radius:3px;
			}

			ul.pagination li input {
				border: 1px solid blue;
				border-radius:3px;
				width: 45px;
				height: 38px;
				text-align: center;
			}

			ul.pagination li button {
				color: black;
				background-color: white;
				padding: 8px 16px;
				text-decoration: none;
				border: 1px solid blue;
				border-radius:3px;
			}

		</style>
		<!-- 分页结束 -->
</body>
</html>