<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>房源管理</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/admin/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/admin/plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="/admin/plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="/admin/css/style.css">
	<script src="/admin/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="/admin/plugins/bootstrap/js/bootstrap.min.js"></script>

	<script src="/js/angular/angular-1.5.8.min.js"></script>
	<script src="/js/angular/myApp.js"></script>
	<script src="/js/angular/service/hourseService.js"></script>
	<script src="/js/angular/service/adminIndexService.js"></script>
	<script src="/js/angular/controller/hourseController.js"></script>
 
</head>

<body class="hold-transition skin-red sidebar-mini" ng-app="myApp" ng-controller="hourseController" ng-init="searchHourseWithVillage()">
  <!-- .box-body -->
                    <div class="box-header with-border">
                        <h3 class="box-title">房源管理</h3>
                    </div>

                    <div class="box-body">

                        <!-- 数据表格 -->
                        <div class="table-box">

                            <!--工具栏-->
                            <div class="pull-left">
                                <div class="form-group form-inline">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" title="新增" onclick="window.location.href='/admin/hourse_edit.html'"><i class="fa fa-file-o"></i> 新增</button>
                                        <button type="button" class="btn btn-default" title="删除" ng-click="deleteHourse()"><i class="fa fa-trash-o"></i> 删除</button>
                                        <button type="button" class="btn btn-default" title="上架" ng-click="putaway()"><i class="fa fa-check"></i> 上架</button>
                                        <button type="button" class="btn btn-default" title="下架" ng-click="soldOut()"><i class="fa fa-ban"></i> 下架</button>
                                        <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
                                    </div>
                                </div>
                            </div>
                            <div class="box-tools pull-right">
                                <div class="has-feedback">
                                  状态：<select ng-model="status">
                                         	<option value="">全部</option>      
                                         	<option value="0">未上架</option>
                                         	<option value="1">已上架</option>
                                        </select>
							                  小区名称：<input ng-model="village">
									<button class="btn btn-default" ng-click="searchHourseWithVillage()">查询</button>
                                </div>
                            </div>
                            <!--工具栏/-->

			                  <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>
			                              <th class="" style="padding-right:0px">
			                                  <input id="selall" type="checkbox" class="icheckbox_square-blue" ng-click="changeAll($event)">
			                              </th> 
										  <th class="sorting_asc">房屋ID</th>
									      <th class="sorting">小区名称</th>
									      <th class="sorting">户型</th>
									      <th class="sorting">一级区域</th>
									      <th class="sorting">二级区域</th>
									      <th class="sorting">面积</th>
									      <th class="sorting">价格</th>
									      <th class="sorting">状态</th>
					                      <th class="text-center">操作</th>
			                          </tr>
			                      </thead>
			                      <tbody>
			                          <tr ng-repeat="entity in hourseList">
			                              <td><input name="selevery" type="checkbox" ng-click="updateSelection($event,entity.hourseid)"></td>
				                          <td>{{entity.hourseid}}</td>
									      <td>{{entity.village}}</td>
									      <td>{{entity.unit}}</td>
									      <td>{{entity.oneplace}}</td>
									      <td>{{entity.twoplace}}</td>
									      <td>{{entity.area}} ㎡</td>
									      <td>{{entity.price}}元</td>
		                                  <td>
		                                  	<span>
		                                  		{{statusArr[entity.status]}}
		                                  	</span>
		                                  	<!--<span>
		                                  		已上架
		                                  	</span>-->
		                                  </td>		                                  
		                                  <td class="text-center">                                          
		                                 	  <button type="button" class="btn bg-olive btn-xs" ng-click="update(entity.hourseid)">修改</button>
		                                  </td>
			                          </tr>
			                      </tbody>
			                  </table>
			                  <!--数据列表/-->                        

                        </div>
                        <!-- 数据表格 /-->
                        
                        
                     </div>
                    <!-- /.box-body -->
		
</body>

</html>